<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Tech Blog</title>
		<link
			href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body class="flex-column min-100-vh">
		<nav class="navbar justify-space-between">
			<header class="hero col-6 align-center justify-flex-start">
				<h1 class="app-title"><a href="/">The Tech Blog</a></h1>
			</header>
			<ul class="col-6 align-center justify-space-between">
				<li class="li-inline nav-item col-4"><a href="/">Home</a></li>
				<li class="li-inline nav-item col-4"><a
						href="/dashboard"
					>Dashboard</a></li>
				<li class="li-inline nav-item col-4"><a
						href="#"
						id="logout-link"
					>Logout</a></li>
			</ul>
		</nav>
		<h1 class="hero">
			<h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
		</h1>

		<main class="col-auto">
			{{{body}}}
		</main>

		<footer class="footer flex-row justify-center">
			<a href="/dashboard/new" class="btn">➕ New Post</a>
		</footer>
	</body>
	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		type="text/javascript"
	></script>
	<script src="/js/logout.js"></script>

</html>