<form class="login-form" id="login-form">
  <div>
    <label for="username-input-login">username:</label>
    <input type="text" class='form-input' id="username-input-login" />
  </div>
  <div>
    <label for="password-input-login">password:</label>
    <input type="password" id="password-input-login" class='form-input'/>
  </div>
  <div>
    <button type="submit" class="btn">login</button>
  </div>
</form>



<script src="/js/login.js"></script>