<form class="login-form" id="login-form">
  <div class="flex-row">
    <label for="username-input-login" class="col-3">username:</label>
    <input type="text" class='form-input col-9' id="username-input-login" />
  </div>
  <div class="flex-row">
    <label for="password-input-login" class="col-3">password:</label>
    <input type="password" id="password-input-login" class='form-input col-9'/>
  </div>
  <div class="flex-row">
    <div class="col-3"></div>
    <button type="submit " class="btn col-9">login</button>
  </div>
</form>



<script src="/js/login.js"></script>