<form class="signup-form" id="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" class='form-input' id="username-input-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" class='form-input' id="password-input-signup" />
  </div>
  <div>
    <button type="submit" class="btn">signup</button>
  </div>
</form>
<script src="/js/signup.js"></script>