<form class="signup-form" id="signup-form">
  <div class="flex-row ">
    <label for="username-signup" class="col-3">username:</label>
    <input type="text" class='form-input col-9' id="username-input-signup" />
  </div>
  <div class="flex-row">
    <label for="password-signup" class="col-3"c>password:</label>
    <input type="password" class='form-input col-9' id="password-input-signup" />
  </div>
  <div class="flex-row">
    <div class="col-3"></div>
    <button type="submit" class="btn col-9">signup</button>
  </div>
</form>
<script src="/js/signup.js"></script>